<main class="container-fluid">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="userName">Username:</label>
            <input
              type="text"
              class="form-control"
              formControlName="userName"
              id="userName"
              placeholder="Please type your username."
            />
          </div>
          <div class="col-12 col-md-6">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="password"
            />
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="btn btn-primary"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</main>
